html {
    box-sizing: border-box;
}

*,
 *:before, 
 *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 20px;
}

p {
    margin: 0 0 20px;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    padding: 15px 0;
    background-color: rgb(210, 183, 19);
    position: relative;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.nav {
    padding-left: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list li+li {
    padding-left: 10px;
}

.item-link {
    color: #000;
    text-decoration: none;
}

.content {
    width: calc(100% - 420px);
    padding: 15px;
}

.asidebar {
    max-width: 210px;
    width: 100%;
    padding: 15px;
}

.aside-left {
    order: -1;
    background: #c798b9;
}

.aside-right {
    background: #9cb1c7;
}

.footer {
    flex: 0 0 auto;
    background-color: rgb(134, 235, 134);
    display: flex;
    justify-content: center;
}